header {
    display: inline-block;
    grid-area : header;
    width: 100vw;
    height: 50px;
    box-shadow: 0 1px gray;
    background-color: aquamarine;
    padding: 15px 30px 15px 30px;
}
header a {
    text-decoration: none;
    font-size: 20px;
}
header > .logo {
    display: inline-block;
    float: left;
}
header > nav {
    display: inline-block;
    float: right;
}
header > nav > a {
    margin-left: 10px;
}