body, body *{
    margin:0;
    padding:0;
    vertical-align: top;
    box-sizing: border-box;
}
body *{
    display: inline-block;
    outline: none;
}
body{
    height: 100%;
}
.bg-image{
    background-image: url('../img/loginBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    height: 100vh;
    width: 100vw;
    position: absolute;
}
    body > main {
        z-index: 2;
        width: 800px;
        margin-top: 60px;
        margin-left: calc( (100% - 800px) / 2 );
        position: relative;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

        main > .left {
            position: absolute;
            background: url('../img/loginBG.jpg');
            background-position: center;
            float: left;
            width: 40%;
            top: 5%;
            bottom: 5%;
            padding: 30px 40px 10px;
            color: #FFF;
        }
            .left > h1 {
                text-shadow: black 0px 0px 2px;
                position: absolute;
                float: left;
                font-size: 40px;
                font-weight: 100;
            }
            .left > p{
                position:absolute;
                float:left;
                bottom: 20px;
                text-shadow: black 0px 0px 1px;
            }
                .left > p > a{
                    color: #FFF;
                }

        main > .right {
            position: relative;
            float: right;
            width:60%;
            padding:50px;
            background-color: #FFF;
            background-image: none;
            color: #D2D2D2;
            width: 60%;
            margin-top: 0px;
            border-radius: 2px;
        }
            .form {
                display: inline-block;
                float: left;
                width: 100%;
                text-transform: uppercase;
                color: #C0C0C0;       
            }

                .form input{
                    display: inline-block;
                    float: left;
                    width: 100%;
                    height: 30px;
                    margin-bottom: 30px;
                    margin-top: 15px;
                    border: none;
                    border-bottom: 1px solid #C0C0C0;
                    padding-top: 5px;
                }

                .form p {
                    display: inline-block;
                    width: 100%;
                    text-transform: none;
                }

                .form > span {
                    padding-top: 7px;
                    padding-bottom: 7px;
                }
                .form > .register {
                    display: inline-block;
                    width: 100%;
                    animation-name: register;
                    animation-duration: 0.3s;
                    animation-fill-mode: forwards;
                }
                @keyframes register {
                    from {
                        font-size: 0px;
                        height: 0px;
                    }
                    to {
                        font-size: 16px;
                        height: 94px;
                    }
                }

                .form > .displayNone{
                    display: none;
                }

            form .badInput{
                border-color: red;
            }
            a{
                text-decoration: none;
            }
            #message {
                position: absolute;
                color: red;
                bottom : 15px;
                left: 50px;
                width: 100%;
            }
                .btn {
                    color: white;
                    background-color: #314DD2;
                    border-radius: 24px;
                    padding-left: 45px;
                    padding-right: 45px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                .btn:hover {
                    cursor: pointer;
                }
